@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto");

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

a {
  text-decoration: none;
}

/* Estilos globales */

.logo-container {
  display: flex;
  align-items: center;
  margin: 8px;
}

.logo {
  width: 3.5em;
}

/* Estilos del navbar de computadora (y tablets) */

#desktop-navbar {
  display: none;
  flex-direction: row;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  height: 73px;
  background-color: rgba(249, 123, 34);
}

#desktop-navbar nav a {
  font-family: "roboto", sans-serif;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  color: white;
}

#desktop-navbar nav a:hover {
  color: rgb(254, 232, 176);
}

/* Estilos del navbar de móvil */

#mobile-navbar {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 73px;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(249, 123, 34);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 73px);
  border-radius: 0%;
  padding: 0;
  margin-top: 10px;
  background-color: rgba(249, 123, 34);
}

.dropdown-content a {
  padding: 10px;
  text-align: center;
  font-family: "roboto", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

#menu {
  display: none;
}

.navbar-burger>span {
  width: 20px;
  color: white;
}

#menu:checked~.dropdown-content {
  display: flex;
}

#menu:checked~.navbar-burger>#middle-span {
  display: none;
}

#menu:checked~.navbar-burger>#top-span {
  transform: rotateZ(45deg) translate(1px, 6px);
}

#menu:checked~.navbar-burger>#bottom-span {
  transform: rotateZ(-45deg) translate(1px, -6px);
}

/* Estilos del contenido de la pantalla */

#places-directory {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  margin: 0;
}

#places-directory #container-title {
  text-align: center;
  font-family: "roboto", sans-serif;
  font-weight: bolder;
  font-size: 35px;
  color: rgb(249, 123, 34);
  margin: 40px;
  margin-bottom: 20px;
}

#places-directory .outer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#places-directory .section-title {
  text-align: center;
  font-family: "roboto", sans-serif;
  font-weight: bold;
  font-size: 26px;
  margin: 26px;
  color: rgb(249, 123, 34);
}

#places-directory .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 10px;
  transition: transform 0.1s ease-in-out;
}

#places-directory .card:hover {
  filter: drop-shadow(0px 0px 20px rgb(255, 156, 85));
  transform: scale(1.025);
}

#places-directory .card-title {
  text-align: center;
  font-family: "roboto", sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin: 10px;
  color: rgb(249, 123, 34);
}

#places-directory .card-image {
  max-width: 7em;
  height: auto;
  margin: 10px;
  margin-top: 0;
}

#places-directory .card-body {
  font-family: "roboto", sans-serif;
  font-size: 15px;
  text-align: center;
  margin: 10px;
  margin-top: 0;
}

#places-directory .card-button {
  text-align: center;
  font-family: "roboto", sans-serif;
  font-weight: bold;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  background-color: rgb(250, 146, 42);
  color: white;
  margin: 10px;
  margin-top: 0;
  padding: 10px;
}

/* Estilo del footer */

footer {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: rgba(249, 123, 34);
}

footer .logo-container {
  margin: 20px;
  align-content: center;
  justify-content: center;
}

footer .logo-container a {
  width: 32px;
  height: 32px;
}

footer .logo {
  width: 2em;
}

footer .text {
  text-align: center;
  font-family: "roboto", sans-serif;
  margin: 35px;
  font-size: 15px;
  margin: 0;
  color: black;
}

footer .sn-container {
  margin: 20px;
  align-content: center;
  justify-content: center;
}

footer .sn-logo {
  width: 2em;
  padding-bottom: 0px;
}

footer .yt-logo {
  width: 2em;
  padding-bottom: 5px;
}

/* Media query para resposividad 
(ancho de pantalla > 480px)  */

@media only screen and (min-width: 480px) {
  #mobile-navbar {
    display: none;
  }

  #desktop-navbar {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  #places-directory .outer-container {
    flex-direction: row;
    width: 100%;
  }

  #places-directory .card {
    width: 15%;
  }

}