@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto");

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

main {
  min-height: calc(100vh - 150.6333px);
}

a {
  text-decoration: none;
}

/* Estilos globales */

.logo-container {
  display: flex;
  align-items: center;
  margin: 8px;
  margin-top: 15px;
}

.logo {
  width: 3.5em;
}

.header-title {
  text-align: center;
  font-family: "roboto", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: rgb(249, 123, 34);
  margin: 40px;
}

.content-title {
  font-family: "roboto", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: rgb(249, 123, 34);
  margin: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.content-list {
  font-family: "roboto", sans-serif;
  font-weight: bold;
  list-style-type: disc;
  padding: 0px;
  margin: 45px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.placeholder {
  font-family: "roboto", sans-serif;
  color: rgb(124, 144, 112);
}

/* Estilos del navbar de computadora (y tablets) */

#desktop-navbar {
  display: none;
  flex-direction: row;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  height: 73px;
  background-color: rgba(249, 123, 34);
}

#desktop-navbar nav a {
  font-family: "roboto", sans-serif;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  color: white;
}

#desktop-navbar nav a:hover {
  color: rgb(254, 232, 176);
}

/* Estilos del navbar de móvil */

#mobile-navbar {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 73px;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(249, 123, 34);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 73px);
  border-radius: 0%;
  padding: 0;
  margin-top: 10px;
  background-color: rgba(249, 123, 34);
}

.dropdown-content a {
  padding: 10px;
  text-align: center;
  font-family: "roboto", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

#menu {
  display: none;
}

.navbar-burger>span {
  width: 20px;
  color: white;
}

#menu:checked~.dropdown-content {
  display: flex;
}

#menu:checked~.navbar-burger>#middle-span {
  display: none;
}

#menu:checked~.navbar-burger>#top-span {
  transform: rotateZ(45deg) translate(1px, 6px);
}

#menu:checked~.navbar-burger>#bottom-span {
  transform: rotateZ(-45deg) translate(1px, -6px);
}

/* Estilos del contenido de la página */

main {
  display: grid;
  grid-template-areas:
    "Page-header"
    "Info-container"
    "Contact-form";
}

main .contact-page-header {
  grid-area: Page-header;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10em;
  background-image: linear-gradient(180deg,
      rgba(151, 63, 0, 0.722),
      rgba(151, 63, 0, 0.722)),
    url("../../../media/call-center.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

main .info-container {
  grid-area: Info-container;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .contact-form {
  grid-area: Contact-form;
  margin: 30px;
  margin-top: 0px;
}

main .content-title {
  margin-bottom: 10px;
  margin-left: 0;
}

main .button {
  font-family: "roboto", sans-serif;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: rgb(250, 146, 42);
  color: white;
  margin-top: 20px;
}

#map {
  display: none;
  margin: 20px;
  width: 60%;
  height: 40%;
}

/* Estilos del footer */

footer {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: rgba(249, 123, 34);
}

footer .logo-container {
  margin: 20px;
  align-content: center;
  justify-content: center;
}

footer .logo-container a {
  width: 32px;
  height: 32px;
}

footer .logo {
  width: 2em;
}

footer .text {
  text-align: center;
  font-family: "roboto", sans-serif;
  margin: 35px;
  font-size: 15px;
  margin: 0;
  color: black;
}

footer .sn-container {
  margin: 20px;
  align-content: center;
  justify-content: center;
}

footer .sn-logo {
  width: 2em;
  padding-bottom: 0px;
}

footer .yt-logo {
  width: 2em;
  padding-bottom: 5px;
}

/* Media query para resposividad 
(ancho de pantalla > 480px)  */

@media only screen and (min-width: 480px) {
  #mobile-navbar {
    display: none;
  }

  #desktop-navbar {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  /* Cambia la distribución de los elementos
  dependiendo del ancho de la pantalla. */
  main {
    display: grid;
    grid-template-areas:
      "Page-header Page-header"
      "Info-container Contact-form";
  }

  #map {
    display: flex;
  }
}